<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="us.zhoujing.goodbuylist"
    android:versionCode="1"
    android:versionName="1.0" 
    >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="True"
        android:icon="@drawable/icon" >
        <activity
            android:name="us.zhoujing.goodbuylist.MainActivity"
            android:label="@string/app_name" 
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="us.zhoujing.goodbuylist.ProductActivity"
            android:label="@string/title_activity_product" >
        </activity>
        <activity
            android:name="us.zhoujing.goodbuylist.UserActivity"
            android:label="@string/title_activity_user_actvity" >
        </activity>
        <activity
            android:name="us.zhoujing.goodbuylist.SignFacebookActivity"
            android:label="@string/title_activity_sign_facebook" >
        </activity>
        <activity
            android:name="us.zhoujing.goodbuylist.SignInActivity"
            android:label="@string/title_activity_sign_in" >
        </activity>
        <activity
            android:name="us.zhoujing.goodbuylist.SearchActivity"
            android:label="@string/title_activity_search" >
        </activity>
        <activity
            android:name="us.zhoujing.goodbuylist.SignInDoneActivity"
            android:label="@string/title_activity_sign_in_done" >
        </activity>
        <activity
            android:name="us.zhoujing.goodbuylist.peopleActivityListActivity"
            android:label="@string/title_peopleactivity_list"
            android:parentActivityName="android.support.v4.app.FragmentActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="android.support.v4.app.FragmentActivity" />
        </activity>
        <activity
            android:name="us.zhoujing.goodbuylist.peopleActivityDetailActivity"
            android:label="@string/title_peopleactivity_detail"
            android:parentActivityName=".peopleActivityListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".peopleActivityListActivity" />
        </activity>
        <activity
            android:name="us.zhoujing.goodbuylist.PeopleActivity"
            android:label="@string/title_activity_people" >
        </activity>
        <activity
            android:name="us.zhoujing.goodbuylist.FavoriteActivity"
            android:label="@string/title_activity_favorite" >
        </activity>
        <activity
            android:name="us.zhoujing.goodbuylist.NewsfeedActivity"
            android:label="@string/title_activity_newsfeed" >
        </activity>
        <activity
            android:name="us.zhoujing.goodbuylist.PurchaseActivity"
            android:label="@string/title_activity_purchase" >
        </activity>
        <activity
            android:name="us.zhoujing.goodbuylist.SplashFragment"
            android:label="@string/title_activity_splash_fragment"
            android:parentActivityName="android.support.v4.app.FragmentActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="android.support.v4.app.FragmentActivity" />
        </activity>
        <activity
            android:name="com.facebook.LoginActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />

        <activity
            android:name="us.zhoujing.goodbuylist.ForgetPasswordActivity"
            android:label="@string/title_activity_forget_password" >
        </activity>
    </application>

</manifest>
